<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Multi-Sample</a>
		<button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
		        class="navbar-toggler" data-bs-target="#navbarNav"
		        data-bs-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/search}">検索</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
			</ul>

			<!-- ユーザー情報表示 -->
			<div class="d-flex align-items-center">
			    <span class="navbar-text text-white me-3">
			        <div th:if="${#authentication != null}">
					    <span th:text="${#authentication.principal.username}">User</span> さん、ようこそ
					</div>
			        <span th:each="auth : ${#authentication.authorities}" th:text="${auth.authority}">ROLE_USER</span>
			    </span>
				<a class="btn btn-outline-light btn-sm" th:href="@{/logout}">ログアウト</a>
			</div>
		</div>
	</div>
</nav>
</body>
</html>
